/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
html, body {
	margin: 0;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/
body{
	font-family: "Andale Mono";
}

header, em {
	background-color: black;
	color: #72F94C;
}

header .container {
	display: flex;
	flex-wrap: nowrap;
}

em {
	margin-top: 2.5vw;
	margin-left: 2.5vw;
}

.instructions-wrapper {
	 display:flex;
	 align-content: space-between;
	 border: thick solid black;
	 padding: 2rem;
	 margin: 2rem;
}

.instructions-wrapper img {
	width: 14em;
	height: 12em;
	margin: auto;
	padding-left: 15vw;
}

.welcome-image {
	margin-left: 18em;
	margin-top: 4vw;
}

.about-me > .container{
	margin: 0 auto;
	display: grid;
	grid-template-columns: 30vw 1fr;
	grid-template-rows: 1fr;
	background-color:#0025f5;
	color: #ffffff;
	padding: 2em 10em;
}

.about-me p {
	width: 45vw;
}

.about-me img {
	grid-row-start:1;
	grid-row-end:4;
	border: .3rem solid;
	height: 18em;
}

.skillz {
	margin-bottom: 4vw;
}

.skillz > .container> h2 {
	float: right;
}


table {
	width: 100%;
	background-color: #333333;
	color: #72F94C;
}

tr {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: .6em;
}

.footer {
	background-color: #333333;
}

form > div {
	display: grid;
	grid-gap: 1em;
}

.form-wrapper {
	background-color: #286218;
	padding: 1em 2em 1em;
}

.form-wrapper > h2 {
	color: #72F94C;
}

label {
	color: #72F94C;
}

button {
	background-color: #72F94C;
}

footer {
	background-color: #333333;
	color: white;
}

footer > div > h4{
	margin-left: 17vw;
}